*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --base-main: #fafafa;
  --button: #bc102a;
  --button-blue: #29376b;
  --soft-blue: #6abecd;
  --gray-letter: #7c7c7c;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}

input {
  border: 0;
  outline: 0;
}
