*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --base-main: #fafafa;
  --button: #bc102a;
  --button-blue: #29376b;
  --soft-blue: #6abecd;
  --gray-letter: #7c7c7c;
  --line-main: #dbe5e6;
  --black: #000000;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: var(--base-main);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}

input {
  border: 0;
  outline: 0;
}

/*RESETEOS*/

.nav__links {
  display: none;
}

.profile__content {
  display: none;
}

.information__content {
  display: none;
}

/*HEADER__NAV*/

.header {
  width: 100%;
  max-width: 1200px;
  padding: 1rem 2rem;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 190px;
}

.nav__icons a {
  font-size: 20px;
  color: var(--black);
}

.nav__icons :nth-child(2) {
  font-size: 20px;
  padding-left: 1rem;
}

.nav__icons :nth-child(3) {
  font-size: 25px;
  padding-left: 1rem;
}

.line {
  border: 1px solid var(--line-main);
}

/*SECTION__TWO__LINKS*/

.nav__linkes {
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.linkes__home {
  padding: 1.5rem 1rem;
  border-left: 2px solid var(--line-main);
  border-right: 2px solid var(--line-main);
}

.linkes__home a {
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--black);
  text-align: center;
}

.linkes__slide {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  align-items: center;
}

.linkes__slide .item__slide {
  width: 100%;
  min-width: 85px;
  text-align: center;
}

.linkes__slide .item__slide:nth-child(1) {
  min-width: 45px;
}

.linkes__slide .item__slide:nth-child(3) {
  min-width: 70px;
}

.item__slide a {
  font-size: 13px;
  color: var(--black);
}

.item__slide a:hover {
  border-bottom: 2px solid red;
  border-radius: 1px;
}

/*MAIN*/

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
}

.content__main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/*tabs*/

.tabs__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}

.tabs__and__profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs__img {
  background-color: burlywood;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.tabs__img__and__icon {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tabs__img__and__icon a {
  font-size: 15px;
  color: var(--black);
}

.tabs__links__mobile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tabs__links__mobile div {
  min-width: 80px;
  text-align: center;
}

.tabs__links__mobile div:nth-child(2) {
  min-width: 100px;
}

.tabs__links__mobile a {
  font-size: 13px;
  font-weight: 600;
  color: var(--gray-letter);
}

.tabs__links__mobile a:hover {
  border-bottom: 2px solid var(--button-blue);
  color: var(--button-blue);
}

.tabs__button__mobile__content {
  width: 100%;
}

.tabs__button__mobile {
  width: 100%;
  background-color: rgb(237, 44, 73);
  color: white;
  font-size: 13px;
  font-weight: 900;
  border-radius: 20px;
  padding: 1.2rem 2rem;
  cursor: pointer;
}

.card {
  width: 100%;
  padding: 3rem 1.5rem;
  border: 1px solid var(--line-main);
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.card h2 {
  font-size: 25px;
  font-family: Barlow, sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-bottom: 1rem;
}

.card__text {
  font-size: 14px;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.card__qr {
  width: 100%;
  border: 1px solid var(--line-main);
  border-radius: 10px;
  display: flex;
}

.card__qr__img {
  flex: 1;
}

.card__qr__img img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}

.qr__content {
  flex: 1;
  padding: 2rem;
  text-align: left;
}

.qr__content__span {
  padding-bottom: 1rem;
}

.span {
  color: var(--soft-blue);
  font-size: 14px;
  font-weight: 900;
}

.span1 {
  color: var(--button-blue);
}

.card__level {
  display: flex;
  border: 1px solid var(--soft-blue);
  border-radius: 5px;
  width: 70%;
}

.level__number__content {
  width: 30%;
  background-color: var(--soft-blue);
  padding: 0.5%;
}

.level__number {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: 900;
}

.level__positions__content {
  width: 70%;
  background-color: white;
  padding: 0.5%;
}

.level__positions {
  color: var(--soft-blue);
  font-size: 12px;
  font-weight: 900;
  text-align: center;
}
